<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="accueil">
    <div class="container accueil">
      <div class="debut">
        <div class="logo-container">
          <img
            src="{{ url_for('static', filename='src/images/logo_jaune.png') }}"
            alt="Logo jaune"
            class="logo"
          />
        </div>
        <h2>Bienvenue sur Plant-It</h2>
        <p>Découvrez les potagers de l'IUT et participez à leur entretien.</p>
      </div>
      <div class="contenue">
        <!-- Météo -->
        <div class="weather-container">
          <div class="weather-item card" id="weather-card">
            <p>Température: {{ weather.temperature_2m }} °C</p>
          </div>
          <div class="weather-item card" id="weather-card">
            <p>Humidité: {{ weather.relative_humidity_2m }} %</p>
          </div>
          <div class="weather-item card" id="weather-card">
            <p>Précipitations: {{ weather.precipitation }} mm</p>
          </div>
          <div class="weather-item card" id="weather-card">
            <p>Vitesse du vent: {{ weather.wind_speed_10m }} km/h</p>
          </div>
        </div>

        <!-- Quiz -->
        <div class="quiz-container">
          {% for quiz in quizzes %}
          <a
            href="{{ url_for('quiz_intro', quiz_id=quiz.id) }}"
            class="quiz-item card"
          >
            <div class="card-title">{{ quiz.title }}</div>
            <div class="card-description">{{ quiz.description }}</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Barre de navigation du bas -->
    <div class="bottom-nav">
      <div class="nav-item">
        <a href="{{ url_for('etage_0') }}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
            <path
              d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="nav-item" id="scan">
        <a href="{{ url_for('plant_id') }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <rect x="2" y="2" width="20" height="20" rx="5"></rect>
          <path d="M2 12h20"></path>
          <path d="M12 2v20"></path>
        </svg>
        </a>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('accueil') }}">
          <img
            src="{{ url_for('static', filename='src/images/logo_jaune.png') }}"
            style="height: auto; width: 30px"
            alt="Logo jaune"
          />
        </a>
      </div>
      <div class="nav-item" id="chat">
        <a href="{{ url_for('community') }}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="nav-item" id="profil">
        <a href="{{ url_for('profile') }}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </a>
      </div>
    </div>
  </body>
</html>
