<!-- HTML -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="debut">
        <h1>Se connecter</h1>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
        <form method="post" action="{{ url_for('login') }}">
          <div class="info-item">
            <label for="email" class="info-label">Email :</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="info-item">
            <label for="password" class="info-label">Mot de passe :</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit" class="edit-button">Connexion</button>
        </form>
        <div class="logout">
          <p>Pas de compte ? <a href="{{ url_for('register') }}">Inscrivez-vous</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
